h1{
    font-size: 30px;;
}

@media (max-width: 900px){
    /* anything bellow 900px or smaller */
    h1 {
        color: red;
        font-size: 60px;
    }
}


/* type: screen, print, speech  with @media <type> <feature> */

/* You can do a min-width of 900px which says that wen you go from 900px up */

/* you can also set a media query range 
@media (min-width: 900px) and (max-width: 1000px){

} */

/* suggested break points for mobile first
1. start with the desite of the smallest moble device.

2. add the following breakpoints: 
    /* small tablets styles - for display from 620px-959px */
    @media screen and (min-width: 620px){...}

    /* large tablets and laptop styles- for display from 960px - 1199px */
    @media screen and (min-width: 960px){...}

    /*  desktop styles- when display is 1200px or more */
    @media screen and (min-width: 1200px){...}

/* 3. develop based on break points.   */